@font-face {
   font-family: 'EuclidCircularB-Light';
   font-display: swap;
   src: url('file:///Users/mariaolga/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-03-14_105204/fonts/EuclidCircularB-Light/font.ttf');
}
